/* header */

header {
    flex-direction: column;
    line-height: 2rem;
}

header a {
    padding: 0.5rem 0;
}

header ul {
    flex-direction: column;
    align-self: stretch;
}

header ul li {
    padding: 0.2rem;
    align-self: stretch;
    text-align: center;
    border-bottom: 1px solid var(--gray-light);
}

header ul li:last-child {
    display: none;
}

header .logo {
    line-height: 3.2rem;
}

/* nav */

nav {
    overflow: hidden;
}

nav a {
    padding: 0 1rem;
}

/* showcase */

.showcase {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.showcase article:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.showcase article:last-child {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

/* ads */

.ads img {
    display: none;
}

.ads {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.ads h1 {
    font-size: 2rem;
}

/* content */

.popular {
    display: none;
}